################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/obj/Debug/net8.0/PizzaSalesChallenge.Infrastructure.AssemblyInfo.cs
/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/obj/Debug/net8.0/PizzaSalesChallenge.Infrastructure.AssemblyInfoInputs.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/obj/Debug/net8.0/PizzaSalesChallenge.Infrastructure.assets.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/obj/Debug/net8.0/PizzaSalesChallenge.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/obj/PizzaSalesChallenge.Infrastructure.csproj.nuget.dgspec.json
/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/obj/project.assets.json
/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/obj/project.nuget.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/Debug/net8.0/PizzaSalesChallenge.API.AssemblyInfo.cs
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/Debug/net8.0/PizzaSalesChallenge.API.AssemblyInfoInputs.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/Debug/net8.0/PizzaSalesChallenge.API.assets.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/Debug/net8.0/PizzaSalesChallenge.API.csprojAssemblyReference.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/Debug/net8.0/PizzaSalesChallenge.API.GeneratedMSBuildEditorConfig.editorconfig
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/PizzaSalesChallenge.API.csproj.nuget.dgspec.json
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/project.assets.json
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/project.nuget.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.Core/obj/Debug/net8.0/PizzaSalesChallenge.Core.AssemblyInfo.cs
/PizzaSalesChallenge.API/PizzaSalesChallenge.Core/obj/Debug/net8.0/PizzaSalesChallenge.Core.AssemblyInfoInputs.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.Core/obj/Debug/net8.0/PizzaSalesChallenge.Core.assets.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.Core/obj/Debug/net8.0/PizzaSalesChallenge.Core.GeneratedMSBuildEditorConfig.editorconfig
/PizzaSalesChallenge.API/PizzaSalesChallenge.Core/obj/PizzaSalesChallenge.Core.csproj.nuget.dgspec.json
/PizzaSalesChallenge.API/PizzaSalesChallenge.Core/obj/project.assets.json
/PizzaSalesChallenge.API/PizzaSalesChallenge.Core/obj/project.nuget.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/obj/Debug/net8.0/PizzaSalesChallenge.Business.AssemblyInfo.cs
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/obj/Debug/net8.0/PizzaSalesChallenge.Business.AssemblyInfoInputs.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/obj/Debug/net8.0/PizzaSalesChallenge.Business.assets.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/obj/Debug/net8.0/PizzaSalesChallenge.Business.GeneratedMSBuildEditorConfig.editorconfig
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/obj/PizzaSalesChallenge.Business.csproj.nuget.dgspec.json
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/obj/project.assets.json
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/obj/project.nuget.cache
/PizzaSalesChallenge.API/.vs/PizzaSalesChallenge.API/FileContentIndex/40bcf91e-12cc-49c2-8daf-7e4531d66a5f.vsidx
/PizzaSalesChallenge.API/.vs/PizzaSalesChallenge.API/v16/.suo
/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/obj/Debug/net8.0/PizzaSalesChallenge.Infrastructure.csproj.AssemblyReference.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/obj/Debug/net8.0/PizzaSalesChallenge.Infrastructure.csproj.BuildWithSkipAnalyzers
/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/obj/Debug/net8.0/PizzaSalesChallenge.Infrastructure.csproj.CoreCompileInputs.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/obj/Debug/net8.0/PizzaSalesChallenge.Infrastructure.csproj.FileListAbsolute.txt
/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/obj/Debug/net8.0/PizzaSalesChallenge.Infrastructure.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/obj/Debug/net8.0/PizzaSalesChallenge.Infrastructure.genruntimeconfig.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/obj/Debug/net8.0/PizzaSalesChallenge.Infrastructure.pdb
/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/obj/Debug/net8.0/PizzaSalesChallenge.Infrastructure.sourcelink.json
/PizzaSalesChallenge.API/PizzaSalesChallenge.Core/obj/Debug/net8.0/PizzaSalesChallenge.Core.csproj.AssemblyReference.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.Core/obj/Debug/net8.0/PizzaSalesChallenge.Core.csproj.BuildWithSkipAnalyzers
/PizzaSalesChallenge.API/PizzaSalesChallenge.Core/obj/Debug/net8.0/PizzaSalesChallenge.Core.csproj.CoreCompileInputs.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.Core/obj/Debug/net8.0/PizzaSalesChallenge.Core.csproj.FileListAbsolute.txt
/PizzaSalesChallenge.API/PizzaSalesChallenge.Core/obj/Debug/net8.0/PizzaSalesChallenge.Core.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.Core/obj/Debug/net8.0/PizzaSalesChallenge.Core.pdb
/PizzaSalesChallenge.API/PizzaSalesChallenge.Core/obj/Debug/net8.0/PizzaSalesChallenge.Core.sourcelink.json
/PizzaSalesChallenge.API/PizzaSalesChallenge.Core/obj/Debug/net8.0/refint/PizzaSalesChallenge.Core.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/obj/Debug/net8.0/PizzaSal.46331749.Up2Date
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/obj/Debug/net8.0/PizzaSalesChallenge.Business.csproj.AssemblyReference.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/obj/Debug/net8.0/PizzaSalesChallenge.Business.csproj.BuildWithSkipAnalyzers
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/obj/Debug/net8.0/PizzaSalesChallenge.Business.csproj.CoreCompileInputs.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/obj/Debug/net8.0/PizzaSalesChallenge.Business.csproj.FileListAbsolute.txt
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/obj/Debug/net8.0/PizzaSalesChallenge.Business.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/obj/Debug/net8.0/PizzaSalesChallenge.Business.pdb
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/obj/Debug/net8.0/PizzaSalesChallenge.Business.sourcelink.json
/PizzaSalesChallenge.API/PizzaSalesChallenge.Core/bin/Debug/net8.0/PizzaSalesChallenge.Core.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.Core/bin/Debug/net8.0/PizzaSalesChallenge.Core.pdb
/PizzaSalesChallenge.API/PizzaSalesChallenge.Core/obj/Debug/net8.0/ref/PizzaSalesChallenge.Core.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/bin/Debug/net8.0/PizzaSalesChallenge.Business.deps.json
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/bin/Debug/net8.0/PizzaSalesChallenge.Business.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/bin/Debug/net8.0/PizzaSalesChallenge.Business.pdb
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/bin/Debug/net8.0/PizzaSalesChallenge.Core.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/bin/Debug/net8.0/PizzaSalesChallenge.Core.pdb
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/bin/Debug/net8.0/PizzaSalesChallenge.Infrastructure.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/bin/Debug/net8.0/PizzaSalesChallenge.Infrastructure.pdb
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/Debug/net8.0/apphost.exe
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/Debug/net8.0/PizzaSal.0AB7C868.Up2Date
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/Debug/net8.0/PizzaSalesChallenge.API.csproj.AssemblyReference.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/Debug/net8.0/PizzaSalesChallenge.API.csproj.BuildWithSkipAnalyzers
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/Debug/net8.0/PizzaSalesChallenge.API.csproj.CoreCompileInputs.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/Debug/net8.0/PizzaSalesChallenge.API.csproj.FileListAbsolute.txt
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/Debug/net8.0/PizzaSalesChallenge.API.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/Debug/net8.0/PizzaSalesChallenge.API.genruntimeconfig.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/Debug/net8.0/PizzaSalesChallenge.API.MvcApplicationPartsAssemblyInfo.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/Debug/net8.0/PizzaSalesChallenge.API.MvcApplicationPartsAssemblyInfo.cs
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/Debug/net8.0/PizzaSalesChallenge.API.pdb
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/Debug/net8.0/PizzaSalesChallenge.API.sourcelink.json
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/Debug/net8.0/staticwebassets/msbuild.build.PizzaSalesChallenge.API.props
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.PizzaSalesChallenge.API.props
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.PizzaSalesChallenge.API.props
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/Debug/net8.0/staticwebassets.build.json
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PizzaSalesChallenge.API/.vs/PizzaSalesChallenge.API/FileContentIndex/3aa17708-9ad5-4be3-a033-81eb2b00eb25.vsidx
/PizzaSalesChallenge.API/.vs/PizzaSalesChallenge.API/FileContentIndex/78279d6f-22b5-490c-afb4-27be695fb4ae.vsidx
/PizzaSalesChallenge.API/.vs/PizzaSalesChallenge.API/FileContentIndex/7a6d17be-735c-4cbe-8282-4f2fa14a97d8.vsidx
/PizzaSalesChallenge.API/.vs/PizzaSalesChallenge.API/FileContentIndex/99f13398-1f33-4ba5-8654-1b277774dbd6.vsidx
/PizzaSalesChallenge.API/.vs/PizzaSalesChallenge.API/FileContentIndex/c8b5f057-2bfe-48dd-adc7-47c4a24c447b.vsidx
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/appsettings.Development.json
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/appsettings.json
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/Azure.Core.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/Azure.Identity.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/CsvHelper.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/Humanizer.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/Microsoft.Identity.Client.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/Microsoft.OpenApi.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/Mono.TextTemplating.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/PizzaSalesChallenge.API.deps.json
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/PizzaSalesChallenge.API.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/PizzaSalesChallenge.API.exe
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/PizzaSalesChallenge.API.pdb
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/PizzaSalesChallenge.API.runtimeconfig.json
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/PizzaSalesChallenge.Business.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/PizzaSalesChallenge.Business.pdb
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/PizzaSalesChallenge.Core.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/PizzaSalesChallenge.Core.pdb
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/PizzaSalesChallenge.Infrastructure.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/PizzaSalesChallenge.Infrastructure.pdb
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/System.CodeDom.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/System.Composition.AttributedModel.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/System.Composition.Convention.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/System.Composition.Hosting.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/System.Composition.Runtime.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/System.Composition.TypedParts.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/System.Drawing.Common.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/System.Memory.Data.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/System.Runtime.Caching.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/System.Security.Permissions.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/System.Text.Json.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/System.Windows.Extensions.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/obj/Debug/net8.0/PizzaSal.3E104E4D.Up2Date
/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/obj/Debug/net8.0/ref/PizzaSalesChallenge.Infrastructure.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/obj/Debug/net8.0/refint/PizzaSalesChallenge.Infrastructure.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/Debug/net8.0/ref/PizzaSalesChallenge.API.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/Debug/net8.0/refint/PizzaSalesChallenge.API.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/bin/Debug/net8.0/PizzaSalesChallenge.Core.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/bin/Debug/net8.0/PizzaSalesChallenge.Core.pdb
/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/bin/Debug/net8.0/PizzaSalesChallenge.Infrastructure.deps.json
/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/bin/Debug/net8.0/PizzaSalesChallenge.Infrastructure.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/bin/Debug/net8.0/PizzaSalesChallenge.Infrastructure.pdb
/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/bin/Debug/net8.0/PizzaSalesChallenge.Infrastructure.runtimeconfig.json
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/obj/Debug/net8.0/ref/PizzaSalesChallenge.Business.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/obj/Debug/net8.0/refint/PizzaSalesChallenge.Business.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/PizzaSalesChallenge.API/.vs/PizzaSalesChallenge.API/config/applicationhost.config
