################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/obj/Debug/net8.0/PizzaSalesChallenge.Infrastructure.AssemblyInfo.cs
/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/obj/Debug/net8.0/PizzaSalesChallenge.Infrastructure.AssemblyInfoInputs.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/obj/Debug/net8.0/PizzaSalesChallenge.Infrastructure.assets.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/obj/Debug/net8.0/PizzaSalesChallenge.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/obj/PizzaSalesChallenge.Infrastructure.csproj.nuget.dgspec.json
/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/obj/project.assets.json
/PizzaSalesChallenge.API/PizzaSalesChallenge.Infrastructure/obj/project.nuget.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/Debug/net8.0/PizzaSalesChallenge.API.AssemblyInfo.cs
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/Debug/net8.0/PizzaSalesChallenge.API.AssemblyInfoInputs.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/Debug/net8.0/PizzaSalesChallenge.API.assets.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/Debug/net8.0/PizzaSalesChallenge.API.csprojAssemblyReference.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/Debug/net8.0/PizzaSalesChallenge.API.GeneratedMSBuildEditorConfig.editorconfig
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/PizzaSalesChallenge.API.csproj.nuget.dgspec.json
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/project.assets.json
/PizzaSalesChallenge.API/PizzaSalesChallenge.API/obj/project.nuget.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.Core/obj/Debug/net8.0/PizzaSalesChallenge.Core.AssemblyInfo.cs
/PizzaSalesChallenge.API/PizzaSalesChallenge.Core/obj/Debug/net8.0/PizzaSalesChallenge.Core.AssemblyInfoInputs.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.Core/obj/Debug/net8.0/PizzaSalesChallenge.Core.assets.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.Core/obj/Debug/net8.0/PizzaSalesChallenge.Core.GeneratedMSBuildEditorConfig.editorconfig
/PizzaSalesChallenge.API/PizzaSalesChallenge.Core/obj/PizzaSalesChallenge.Core.csproj.nuget.dgspec.json
/PizzaSalesChallenge.API/PizzaSalesChallenge.Core/obj/project.assets.json
/PizzaSalesChallenge.API/PizzaSalesChallenge.Core/obj/project.nuget.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/obj/Debug/net8.0/PizzaSalesChallenge.Business.AssemblyInfo.cs
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/obj/Debug/net8.0/PizzaSalesChallenge.Business.AssemblyInfoInputs.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/obj/Debug/net8.0/PizzaSalesChallenge.Business.assets.cache
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/obj/Debug/net8.0/PizzaSalesChallenge.Business.GeneratedMSBuildEditorConfig.editorconfig
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/obj/PizzaSalesChallenge.Business.csproj.nuget.dgspec.json
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/obj/project.assets.json
/PizzaSalesChallenge.API/PizzaSalesChallenge.Business/obj/project.nuget.cache
/PizzaSalesChallenge.API/.vs/PizzaSalesChallenge.API/FileContentIndex/40bcf91e-12cc-49c2-8daf-7e4531d66a5f.vsidx
/PizzaSalesChallenge.API/.vs/PizzaSalesChallenge.API/v16/.suo
